datasets==3.0.1
einops==0.8.0
email-validator==2.2.0
fastapi==0.115.0
fastapi-cli==0.0.5
httptools==0.6.1
httpx==0.27.2
inflect==7.3.1
ipykernel==6.29.5
jaraco.collections==5.1.0
nltk==3.9.1
pinecone==5.3.1
pip-chill==1.0.3
python-dotenv==1.0.1
python-multipart==0.0.11
sentence-transformers==3.1.1
tomli==2.0.1
uvloop==0.20.0
watchfiles==0.24.0
websockets==13.1
